* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;

}
body {
    background-color: #24252a;
}
li, a {
    position: relative;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 600;
    color: #edf0f1;
    text-decoration: none;
    padding: 0 10px;
}
.tala{
  font-size: 30px;
}
.tala2{
  font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    height: 67px;
    width: 100%;
    white-space: nowrap;
    justify-content: space-between;
}

.header_line {
  margin-bottom: 15px;
}

.logo {
    cursor: pointer;
    width:  80.4px;
    height: 64.39999999999999px;
}


.nav__links {
    list-style: none;

}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

li::after{
    content: "";
    position: absolute;
    background-color: #6432B7;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

li:hover{
    color: #ffffff;
    transform: scale(1.1);
    transition: 0.3s;

}

li:hover:after{
    width: 100%;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
  
#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  position: relative;
  top: -11px;
}
  
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
  opacity: 0;
}
  
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
  
.mobile-menu {
  display: none;
  position: absolute;
  top: 67px;
  left: 0;
  height: 225px;
  width: 100%;
  list-style: none
}
  
.mobile-menu li {
  margin-bottom:15px;
  top: 45px;
}

.timelapse {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin: 2em 2em 2em 2em;
}
.line {
    border-left: 0.2rem solid #6432B7;
}
.content{
    margin-left: 0.5rem;
    border: 0.2rem  solid #6432B7;
    padding: 1rem;
}

.title_con {
    width: 1fr;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    font-size: 40px;
    color: black;
}

.titlee {
    color: #6432B7;
}

@media only screen and (max-width: 700px) {
    header nav {
      display: none;
    }
    
    #hamburger-icon {
      display: block;
    }
    li, a {
      color: black;
    }
    .tala{
        font-size: 25px;
    }

    .timelapse {
        display: block;
    }

    .line {
        margin-top: 1rem;
    }

    .title {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
  
@media (max-width: 1000px) {
    .mobile-menu {
      background-color: white;
      opacity: 85%;
    }
    
}
  
