@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap');

* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;

}
body {
    background-color: #24252a;
}

li, a {
    position: relative;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
    padding: 0 10px;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    height: 67px;
    width: 100%;
    white-space: nowrap;
    justify-content: space-between;
}

.header_line {
  margin-bottom: 15px;
}

.logo {
    cursor: pointer;
    width:  80.4px;
    height: 64.39999999999999px;
}


.nav__links {
    list-style: none;

}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

li::after{
    content: "";
    position: absolute;
    background-color: #6432B7;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

li:hover{
    color: #ffffff;
    transform: scale(1.1);
    transition: 0.3s;

}

li:hover:after{
    width: 100%;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
  
#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  position: relative;
  top: -11px;
}
  
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
  opacity: 0;
}
  
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
  
.mobile-menu {
  display: none;
  position: absolute;
  top: 67px;
  left: 0;
  height: 213px;
  width: 100%;
  list-style: none
}
  
.mobile-menu li {
  margin-bottom:15px;
  top: 45px;
}
  
.body_div {
  max-width: 100%;
  max-height: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.info {
  margin-left: 35px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: 16FF00;

}

.logo2 {
  max-width: 201px;
  max-height: 161px;
  margin: auto;
  display: block;
}


.title {
  font-family: Avenger,Arial,Helvetica,sans-serif;
  text-align: center;
  margin: 0 auto;
  font-size: 70px;
  color: #ff39ee;
  margin-top: 30px;
  font-weight: bold
}

.first_part_of_the_page {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.second_part_of_the_page {
  display: flex;
}

.alternating_images_container {
  max-width: 800.0px;
  max-height: 533.5px;
  overflow: hidden;
  border-radius: 8px;
}

.alternating_images_wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

.alternating_images {
  width: 100%;
  height: 100%;
}

.second_hr {
  margin-top: 50px;
}

.third_hr {
  margin-top: 50px;
}

@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(0-300%);
  }
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }
  
  #hamburger-icon {
    display: block;
  }
  li, a {
    color: black;
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 40px;
    margin-top: 0px;
  }
  .first_part_of_the_page {
    display: block;
  }
  .second_part_of_the_page{
    display: block;
  }
  .mobile-menu {
    background-color: white;
    opacity: 85%;
  }
  .info {
    margin-top: 30px;
    font-size: 25px;
  }
}

@keyframes spin {
  from { transform: rotate(0deg);}
  to { transform:  rotate(360deg);}
}
.logo {
  animation: spin 10s infinite;
}
.logo2 {
  animation: spin 10s infinite;
}
.alternating_images {
  animation: spin 10s infinite;
}
.body_div {
  animation: spin 10s infinite;
}
.info {
  animation: spin 10s infinite;
}
.body {
  animation: spin 10s infinite;
}
.title {
  animation: spin 10s infinite;
}
.first_part_of_the_page {
  animation: spin 10s infinite;
}
.second_part_of_the_page {
  animation: spin 10s infinite;
}
.second_hr {
  animation: spin 10s infinite;
}
.header_line {
  animation: spin 10s infinite;
}
.third_hr {
  animation: spin 10s infinite;
}
.bar1 {
  animation: spin 10s infinite;
}
.li {
  animation: spin 10s infinite;
}
.header {
  animation: spin 10s infinite;
}


